[submodule "ext/SFML"]
	path = ext/SFML
	url = https://github.com/SFML/SFML
	branch = 2.4.2
[submodule "ext/TCLAP"]
	path = ext/TCLAP
	url = git://git.code.sf.net/p/tclap/code
[submodule "ext/optional-lite"]
	path = ext/optional-lite
	url = https://github.com/martinmoene/optional-lite
	branch = v2.3.0
